{% extends 'base.html.twig' %}

{% block body %}
    <form action="/{{ type }}/create" method="post" {{ form_enctype(form) }}>
        <input type="submit"/>
        {{  form(form) }}

        {{ form_rest(form)  }}

    </form>
{% endblock %}