{% extends 'base.html.twig' %}

{% block body %}
    <header class="row">
        <div class="">
            <h1>On Veut des Amis</h1>
            <p>L'endroit pour rencontrez des couples qui partagent les mêmes passions que vous, organiser des rencontres... Découvrir de nouveaux amis</p>
        </div>
        <a href="#">Commencez maintenant!</a>
    </header>
    <section id="presentationSection">
        <div>
            <h2>Trouvez des couples d'amis plus rapidement que jamais...</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt, lorem ac tempor cursus, dui nisi posuere lorem, eget semper risus diam in eros. Suspendisse consequat interdum erat sodales iaculis. Pellentesque aliquet arcu mi, vitae maximus mi suscipit vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur neque arcu, porta a metus at, tincidunt vestibulum velit. Nullam porttitor tellus mauris, vitae elementum sem imperdiet at. Vestibulum volutpat nisi purus, sed porta massa faucibus id. Mauris cursus ultricies ante, at imperdiet arcu pharetra ac. Vivamus arcu orci, tempor vel metus venenatis, blandit vehicula sapien. Vivamus at libero consectetur, tristique dui vel, posuere mauris. Proin sed vehicula leo.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt, lorem ac tempor cursus, dui nisi posuere lorem, eget semper risus diam in eros. Suspendisse consequat interdum erat sodales iaculis. Pellentesque aliquet arcu mi, vitae maximus mi suscipit vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur neque arcu, porta a metus at, tincidunt vestibulum velit. Nullam porttitor tellus mauris, vitae elementum sem imperdiet at. Vestibulum volutpat nisi purus, sed porta massa faucibus id. Mauris cursus ultricies ante, at imperdiet arcu pharetra ac. Vivamus arcu orci, tempor vel metus venenatis, blandit vehicula sapien. Vivamus at libero consectetur, tristique dui vel, posuere mauris. Proin sed vehicula leo.
            </p>
        </div>
        <img src="images/Shape1.png" />
        <img src="images/Shape2.png" />

    </section>
    <section id="temoignageSection">

    </section>
    <section id="demoSection">

    </section>
    <section id="blogSection">

    </section>
    <section id="contactSection">

    </section>

{% endblock %}
