@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic&subset=latin,latin-ext);
*,
*:after,
*:before {
  box-sizing: border-box; }

.clearfix {
  clear: both; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em; }
  body section {
    background-attachment: fixed; }
  body #presentationSection {
    color: white;
    font-size: 0.8em;
    background-color: #e8b968;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px; }
    body #presentationSection div {
      position: relative;
      z-index: 20;
      width: 70%;
      font-weight: lighter; }
      body #presentationSection div h2 {
        font-size: 1.6em;
        margin-bottom: 40px;
        font-weight: 100; }
    body #presentationSection img {
      opacity: 0.7;
      z-index: 10;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  body #subSection {
    background-color: #5B6869;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-weight: lighter;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px; }
    body #subSection > div:first-child {
      border-right: 1px solid #809091;
      padding-right: 50px; }
      body #subSection > div:first-child h3 {
        margin-bottom: 70px;
        font-weight: 200; }
    body #subSection > div:last-child {
      margin-left: 50px; }
      body #subSection > div:last-child button {
        margin-top: 10px;
        width: 60%;
        background-color: #7accc8;
        border-color: #7accc8;
        opacity: 0.9;
        height: 35px;
        font-size: 0.8em;
        color: white;
        font-weight: lighter;
        opacity: 0.9;
        padding-left: 40px;
        border-radius: 5px;
        border-color: #809091;
        background-color: #738384;
        margin-left: 50px; }
      body #subSection > div:last-child #msgAfterCreation {
        margin-left: 50px;
        font-size: 0.8em;
        display: none; }
    body #subSection > div {
      display: inline-block;
      width: 45%;
      vertical-align: top; }
    body #subSection form {
      margin-left: 50px;
      width: 60%;
      padding-top: 80px; }
      body #subSection form ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: white;
        font-weight: lighter; }
      body #subSection form :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: white;
        font-weight: lighter;
        opacity: 1; }
      body #subSection form ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: white;
        font-weight: lighter;
        opacity: 1; }
      body #subSection form :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: white;
        font-weight: lighter; }
      body #subSection form input {
        color: white;
        font-weight: lighter;
        opacity: 0.9;
        height: 30px;
        width: 100%;
        padding-left: 40px;
        border-radius: 5px;
        border-color: #809091;
        background-color: #738384; }
      body #subSection form div {
        padding: 0;
        width: 100%; }
    body #subSection p {
      margin: 0 0 100px 0;
      padding: 0; }
    body #subSection h3 {
      margin: 0;
      padding: 0;
      font-weight: 200; }
  body #blogSection {
    background-color: #f6f6f4; }
  body #contactSection {
    background-color: #7accc8; }

h1 {
  margin: 0;
  padding: 0; }

h2 {
  margin: 0;
  padding: 0; }

header {
  background-image: url("../images/header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 60px; }
  header div {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    header div h1 {
      text-transform: uppercase;
      margin-bottom: 60px;
      font-weight: lighter; }
    header div p {
      font-style: italic;
      margin-bottom: 400px;
      font-size: 0.8em;
      font-weight: lighter;
      text-shadow: inset; }
  header a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 40px 10px 40px;
    border: 1px solid #7accc8;
    background: #7accc8;
    font-size: 1.2em;
    top: 0;
    left: 0; }

/*# sourceMappingURL=style.css.map */
